In [3]:
print("first")

first

In [4]:
'''
hello this is first program of python programing on 
my laptop
'''
print("hiiii this is printing \"section using \"back slach \n this is new printing line")

hiiii this is printing "section using "back slach
 this is new printing line

In [5]:
print("hey",9,8,8,sep=",",end=",using end statement , \"nothig will be added after this line beacause this is end Statement\" \n" )
print("Abuzar")

hey,9,8,8,using end statement , "nothig will be added after this line beacause this is end Statement"
Abuzar

In [6]:
a=10
print("type of a is",type(a))
print("value of a",a)
b=complex(2,3)
print("value of b:",b)
print("Type of b:",type(b))
c=1.22
print("value of c:",c)
print("Type of c",type(c))
d="how are you"
print("value of d",d)
print("type of d:", d)
e=None
print(e)

type of a is <class 'int'>
value of a 10
value of b: (2+3j)
Type of b: <class 'complex'>
value of c: 1.22
Type of c <class 'float'>
value of d how are you
type of d: how are you
None

In [7]:
num1=5
num2=3
print(f"Exponential value of {num1} and {num2} is {num1**num2}")
print(f" The value of {num1} \"+\" {num2} is {num1+num2}")
print(f"The  value of {num1} \"-\" {num2} is {num1-num2}")
print(f"The  value of {num1} \"*\" {num2} is {num1*num2}")
print(f"The  value of {num1} \"/\" {num2} is {num1/num2}")
print(f"The  value of {num1} \"//\" {num2} is {num1//num2}")

Exponential value of 5 and 3 is 125
 The value of 5 "+" 3 is 8
The  value of 5 "-" 3 is 2
The  value of 5 "*" 3 is 15
The  value of 5 "/" 3 is 1.6666666666666667
The  value of 5 "//" 3 is 1

In [8]:
# #syntax of for loop:
# for character in string_name
#     print(character)

str_a="Abuzar Irfan"
for character in str_a:
    print(character)
# this method is used to print the string for your own requirement
str_b="Abuzar Irfan"
print(str_b[0:6])

A
b
u
z
a
r

I
r
f
a
n
Abuzar

## This code block is to explain the length of string

In [9]:
name="Abuzar"
print(f"Length of given string is {len(name)}")
#Following both syntax gives same outputs
print(name[0:3])
print(name[:3]) #here before : it considers 0 by default
# print(name[-6:-4])   ----> print(name[len(name)-6:len(name)-4])
print('this differ syntax g')
print(name[-6:-4])
print(name[len(name)-6:len(name)-4])

Length of given string is 6
Abu
Abu
this differ syntax g
Ab
Ab

### TODAY, THIS IS 7TH LECTURE

#### python looks all the types of data types int,float,boolean,string
#### input BY Default returns STRING
#### data frame pyy break Lggyy gi...

In [10]:
f_name="MichealJackson"
print(f_name[6])
print(f_name[0:-11]) #slice....
#using the Length  function of string
print(len("heyyy!!"))
print(len(f_name))
print(f_name[::6]) ##stride method
print(f_name[0:7:3])


print("#back slach n ....\n to print in the nxt line")
print("#back slach n ....    to print in the nxt line")

#r is used to print the statement as it is!!!!
print(r"michal \ jackon")


# ------------------------------------.upper()-----------------------------------
stri="muhammad abuzar"

print("Before upper--->",stri)

b=stri.upper()

print("After Upper--->",b)
 #-------------------------------------.lower()----------------------------------------
stri="MUHAMMAD  ABUZAR"

print("Before lower--->",stri)

b=stri.lower()

print("After lower--->",b)

print("---------------ONE MORE PRACTISE OF UPPER AND LOWER---------")

d=f_name.upper()
print(d)


e=f_name.lower()
print(e)


name='Ahmad Raza is the best'
n_name=name.replace('Raza','Butt')
n_name

find_num=name.find('za')
find_num

print("This will print \"-1\" because the finding element does not exists here !")
find_2nd=name.find("x")
find_2nd

s_split=name.split("a")
s_split

l
Mic
7
14
Mlo
Mhl
#back slach n ....
 to print in the nxt line
#back slach n ....    to print in the nxt line
michal \ jackon
Before upper---> muhammad abuzar
After Upper---> MUHAMMAD ABUZAR
Before lower---> MUHAMMAD  ABUZAR
After lower---> muhammad  abuzar
---------------ONE MORE PRACTISE OF UPPER AND LOWER---------
MICHEALJACKSON
michealjackson
This will print "-1" because the finding element does not exists here !

['Ahm', 'd R', 'z', ' is the best']

##  QUIZ

In [11]:
d = "ABCDEFG"
print(d[0:3])

ABC

#### concept of Touple

In [12]:
student1=(2,"Ali",2.9,"LHR")

# touple , rows
#coloumn, Attributes, fields

print(student1)

(2, 'Ali', 2.9, 'LHR')

#### printing index wise in a Touple

In [13]:
# PRINTING OF YOUR OWN VALUE
print(student1[2])
print(student1[3])
print(student1[0])
print(student1[1])

2.9
LHR
2
Ali

#### Touple of an Employee

In [14]:
Emp=(94533,"IKRAM",50000,"Information Technology","11-Sep-2023",("cs,it,oop"))
print("Employee' Id is:", Emp[0]) #pointing the value present at 1st position
print("Employee's name is:", Emp[1]) #pointing the value present at 2nd position
print("Employee's salary is:", Emp[2]) #pointing the value present at 3rd position
print("Employee's Department is:", Emp[3]) #pointing the value present at 4th position
print("Employee's date of joining is:", Emp[4]) #pointing the value present at 5th position
print(Emp[5:1])

Employee' Id is: 94533
Employee's name is: IKRAM
Employee's salary is: 50000
Employee's Department is: Information Technology
Employee's date of joining is: 11-Sep-2023
()

In [15]:
tuple1=("disco",10,"ji")
tuple1
type(tuple1)
tuple1[0]
tuple1[1]
tuple1[2]
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[-1]))
tuple1[-1]

<class 'str'>
<class 'int'>
<class 'str'>

'ji'

### Concatenation of 2 tuples

In [16]:
fruit1=("Grapes","Apple","Appricot")
fruit2=("Banana","strawberey","orange")
fruit=fruit1+fruit2
print(fruit)
print(f"printing the length of a touple ={len(fruit)}")

('Grapes', 'Apple', 'Appricot', 'Banana', 'strawberey', 'orange')
printing the length of a touple =6

#### sorting of tuple

In [17]:
tuple1=(78,28,56,34,67,100)
sorted_tuple=sorted(tuple1)
print(sorted_tuple)

[28, 34, 56, 67, 78, 100]

In [18]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print("value of 2-->0" , NestedT[2][0])
print("value of 2-->1" , NestedT[2][1])
print("value of 2-->0" , NestedT[1:4])
print("value of 2-->0" , NestedT[4][1][0])
print("value of 2-->0" , NestedT[4][1][1])

value of 2-->0 pop
value of 2-->1 rock
value of 2-->0 (2, ('pop', 'rock'), (3, 4))
value of 2-->0 1
value of 2-->0 2

In [19]:
fruit=["apple","banana","mango"]
fruit
del(fruit[2])
fruit

['apple', 'banana']

In [20]:
stri="myname isabuzar"
stri.split()

['myname', 'isabuzar']

In [21]:
fruit=["apple","banana","man go"]
fruit[2].split()

['man', 'go']

In [22]:
Employee={"ID":[1,2,3],"Names":["Ali","Raza","Akmal"],"Salary":[10000,20000,30000],"Cell no.":["+92323","+92327","+92316"]}
Employee

{'ID': [1, 2, 3],
 'Names': ['Ali', 'Raza', 'Akmal'],
 'Salary': [10000, 20000, 30000],
 'Cell no.': ['+92323', '+92327', '+92316']}

In [23]:
import pandas

df=pandas.DataFrame(Employee)
df

   ID  Names  Salary Cell no.
0   1    Ali   10000   +92323
1   2   Raza   20000   +92327
2   3  Akmal   30000   +92316

In [24]:
Student={"Roll no.":["BCS23037","BCS23028","BCS23028","BCS23011"],"Name":["M.Abuzar","M.Afaq","M.Ahmad Butt","Hassaan Ahmad"],\
         "CGPA":[3.27,3.71,3.20,3.55] ,"Dept":["IT","IT","IT","IT"] }

import pandas
df=pandas.DataFrame(Student)
df

   Roll no.           Name  CGPA Dept
0  BCS23037       M.Abuzar  3.27   IT
1  BCS23028         M.Afaq  3.71   IT
2  BCS23028   M.Ahmad Butt  3.20   IT
3  BCS23011  Hassaan Ahmad  3.55   IT

In [25]:
# LIBRARY NAME as (keyword) shot name for future use
import matplotlib as mpl

In [26]:
import pandas as pandas
df=pandas.read_excel("C:/Users/alihu/Desktop/TEVTA/Book2.xlsx")
df

   ID    NAME      F_NAME  CGPA  ADDREES BLOOD GROUP Gender
0   1   Ahmad  Wahid Butt  3.00  Narowal          A+      M
1   2   Uzair       Aulia  3.30   Attock          B+      M
2   3  Abuzar     M.Irfan  3.27      Nrg          O-      M
3   4  Hassan       Ahmad  3.55      GRW          A+      M
4   5    Afaq       Zahid  3.71   Pasrur          B+      M
5   6     Ali       Tariq  3.78      GRW          B+      M

### 3rd Semester DSA marks

In [27]:
import pandas
df=pandas.read_excel("C:/Users/alihu/Desktop/New folder/Final Report.xlsx")
df

,Sr. No.,Roll no.,Names,Finals,Mids,Sessionals,Total
0,1,BCS23001,Muhammad Ali Awan,0,0,0,0
1,2,BCS23002,Muqaddas Butt,33,13,11,57
2,3,BCS23003,Arooj,34,24,14,72
3,4,BCS23004,Aisha Abid,31,20,8,59
4,5,BCS23005,Huzaifa,27,22,13,62
5,6,BCS23006,Danish Naseer,37,29,13,79
6,7,BCS23007,Hadiqa Fatima,39,11,8,58
7,8,BCS23008,Azeen Fatima,33,17,11,61
8,9,BCS23009,Muhammad Musa,36,19,13,68
9,10,BCS23010,Muhammmad Qasim Siddiqi,36,34,19,89
10,11,BCS23011,Hassaan Ahmad,32,17,9,58
11,12,BCS23012,Sidra Liaqat,38,7,12,57
12,13,BCS23013,Irum Latif,40,18,9,67
13,14,BCS23014,Muhammad Ahmad,39,25,15,79
14,15,BCS23015,Awais Ahmad,0,9,0,9
15,16,BCS23016,Muhammad Haroon Arshad,31,13,5,49
16,17,BCS23017,Arbab Habib Ahmad,0,0,0,0
17,18,BCS23018,Taha Tariq,37,19,11,67
18,19,BCS23019,Wareesha Qadeer,0,0,0,0
19,20,BCS23020,Malaika,35,13,8,56
20,21,BCS23021,Ahmad Raza Saleem,19,4,11,34
21,22,BCS23022,Qadar Yasin,38,29,7,74
22,23,BCS23023,Waleed Qamar,39,29,17,85
23,24,BCS23024,Muhammad Fazail Nadeem,37,16,17,70
24,25,BCS23025,Harram,39,30,15,84
25,26,BCS23026,Muhammad Hassan Arshad,31,29,18,78
26,27,BCS23027,Umm E Kalsoom,33,17,7,57
27,28,BCS23028,Muhammad Afaq,38,30,15,83
28,29,BCS23029,Hafsa Kashif,30,9,5,44
29,30,BCS23030,Nimra,38,28,11,77
30,31,BCS23031,Laiba Zaman,0,0,0,0
31,32,BCS23032,Hajra Haram Kayant,0,0,0,0
32,33,BCS23033,Ebaad Raheem,39,20,13,72
33,34,BCS23034,Zoha Waris,36,17,10,63
34,35,BCS23035,Iqra,34,24,12,70
35,36,BCS23036,Mahin Nazam,35,23,15,73
36,37,BCS23037,Muhammad Abuzar,32,10,9,51
37,38,BCS23038,Irha Tabbassum,27,23,13,63
38,39,BCS23039,Mashizbail Masih,0,0,0,0
39,40,BCS23040,Amina Umer Dar,28,18,15,61
40,41,BCS23041,Barina Shafique,34,21,9,64
41,42,BCS23042,Muhammad Hassan,29,18,5,52
42,43,BCS23043,Fiza Asif,32,4,5,41
43,44,BCS23044,Abdullah,35,17,8,60
44,45,BCS23045,Muhammad Mubeen,32,11,13,56
45,46,BCS23046,Laiba Liaqat,0,0,0,0
46,47,BCS22033,Faizan Abid,39,27,9,75
47,48,BCS22042,Shahwar Ahmed,28,19,5,52
48,49,BIT21237,Abdullah,12,0,0,12